.all-subservices {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  .services-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
    h3 {
      margin: 0px;
    }
  }
}

@media screen and (max-width: 600px) {
  .all-subservices {
    .services-header {
      flex-direction: column;
      row-gap: 10px;
    }
  }
}
.icon-back {
  font-size: 30px;
  color: blue;
  cursor: pointer;
}
